<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>下拉菜单</title>
    <link rel="stylesheet" href="/static/css/left.css">
</head>
<body>
<div>
    <a class="list-title">商品分类</a>
    <ul id="accordion" class="accordion">
        <li>
            <div class="link"><span>干粮类</span></div>
            <ul class="submenu">
                <li><a>面包</a></li>
                <li><a>饼干</a></li>
                <li><a>膨化食品</a></li>
            </ul>
        </li>
        <li>
            <div class="link"><span>水</span></div>
            <ul class="submenu">
                <li><a>碳酸饮料</a></li>
                <li><a target="body" href="">牛奶</a></li>
                <li><a>矿泉水</a></li>
                <li><a>果汁</a></li>
            </ul>
        </li>
        <li>
            <div class="link"><span>优惠大礼包</span></div>
            <ul class="submenu">
                <li><a>三只松鼠</a></li>
                <li><a>良品铺子</a></li>
                <li><a>百草味</a></li>
            </ul>
        </li>
        <li>
            <div class="link"><span>食肉者的天堂</span></div>
            <ul class="submenu">
                <li><a>牛肉</a></li>
                <li><a>鸡肉</a></li>
                <li><a>鱼</a></li>
            </ul>
        </li>
        <li>
            <div class="link"><span>速食产品</span></div>
            <ul class="submenu">
                <li><a>方便面</a></li>
                <li><a>懒人小火锅</a></li>
                <li><a>速食米饭</a></li>
            </ul>
        </li>

    </ul>

</div>
<script src="/static/js/left.js"></script>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
</body>
</html>