<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>top</title>
    <link rel="stylesheet" href="/static/css/top.css">
</head>
<body>
<div class="top">
<h1 style="text-align: center;">网上小卖铺</h1>
<div class="top-a" style="font-size: 10pt; line-height: 10px;">
		  <a href="/templates/users/login.html" target="_blank" >用户登录</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		  <a href="/templates/users/register.html" target="_blank">用户注册</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		  <a href="" target="body">我的购物车</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		  <a href="" target="body">我的订单</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		  <a href="" target="_blank">修改密码</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		  <a href="" target="_parent">退出</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		  <a href="" target="_top">联系我们</a>
</div>
</div>
</body>
</html>